@mixin base-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

@mixin base-stack {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

@mixin no-gutters {
  margin-left: 0;
  margin-right: 0;
}

@mixin gutters {
  margin-left: 15px;
  margin-right: 15px;
}

@mixin negative-gutters {
  margin-left: -15px;
  margin-right: -15px;
}

.container,
.container--padded {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.container--padded {
  padding-left: 15px;
  padding-right: 15px;
}

.xs-hidden {
  display: none;
}

.xs-row {
  @include base-row;
}

.xs-stack {
  @include base-stack;
}

.xs-block {
  display: block;
}

@for $i from 1 through 12 {
  .xs-#{$i} {
    @include gutters;
    flex: 0 0 calc(#{percentage($i / 12)} - 30px);
  }

  .xs-#{$i}--no-gutters {
    @include no-gutters;
    flex: 0 0 percentage($i / 12);
  }

  .xs-#{$i}--negative-gutters {
    @include negative-gutters;
    flex: 0 0 calc(#{percentage($i / 12)} + 30px);
  }
}

.xs-auto {
  flex: 0 0 auto;
  @include gutters;
}

.xs-auto--no-gutters {
  flex: 0 0 auto;
  @include no-gutters;
}

.xs-auto--negative-gutters {
  flex: 0 0 auto;
  @include negative-gutters;
}

/******************
****** SMALL ******
******************/

@media (min-width: $screen-sm-min) {

  .hidden-sm {
    display: none;
  }

  .sm-row {
    @include base-row;
  }

  .sm-stack {
    @include base-stack;
  }

  .sm-block {
    display: block;
  }

  @for $i from 1 through 12 {
    .sm-#{$i} {
      @include gutters;
      flex: 0 0 calc(#{percentage($i / 12)} - 30px);
    }

    .sm-#{$i}--no-gutters {
      @include no-gutters;
      flex: 0 0 percentage($i / 12);
    }

    .sm-#{$i}--negative-gutters {
      @include negative-gutters;
      flex: 0 0 calc(#{percentage($i / 12)} + 30px);
    }
  }

  .sm-auto {
    flex: 0 0 auto;
    @include gutters;
  }

  .sm-auto--no-gutters {
    flex: 0 0 auto;
    @include no-gutters;
  }

  .sm-auto--negative-gutters {
    flex: 0 0 auto;
    @include negative-gutters;
  }
}

/*******************
****** MEDIUM ******
*******************/

@media (min-width: $screen-md-min) {

  .hidden-md {
    display: none;
  }

  .md-row {
    @include base-row;
  }

  .md-stack {
    @include base-stack;
  }

  .md-block {
    display: block;
  }

  @for $i from 1 through 12 {
    .md-#{$i} {
      @include gutters;
      flex: 0 0 calc(#{percentage($i / 12)} - 30px);
    }

    .md-#{$i}--no-gutters {
      @include no-gutters;
      flex: 0 0 percentage($i / 12);
    }

    .md-#{$i}--negative-gutters {
      @include negative-gutters;
      flex: 0 0 calc(#{percentage($i / 12)} + 30px);
    }
  }

  .md-auto {
    flex: 0 0 auto;
    @include gutters;
  }

  .md-auto--no-gutters {
    flex: 0 0 auto;
    @include no-gutters;
  }

  .md-auto--negative-gutters {
    flex: 0 0 auto;
    @include negative-gutters;
  }
}

/******************
****** LARGE ******
******************/

@media (min-width: $screen-lg-min) {

  .hidden-lg {
    display: none;
  }

  .lg-row {
    @include base-row;
  }

  .lg-stack {
    @include base-stack;
  }

  .lg-block {
    display: block;
  }

  @for $i from 1 through 12 {
    .lg-#{$i} {
      @include gutters;
      flex: 0 0 calc(#{percentage($i / 12)} - 30px);
    }

    .lg-#{$i}--no-gutters {
      @include no-gutters;
      flex: 0 0 percentage($i / 12);
    }

    .lg-#{$i}--negative-gutters {
      @include negative-gutters;
      flex: 0 0 calc(#{percentage($i / 12)} + 30px);
    }
  }

  .lg-auto {
    flex: 0 0 auto;
    @include gutters;
  }

  .lg-auto--no-gutters {
    flex: 0 0 auto;
    @include no-gutters;
  }

  .lg-auto--negative-gutters {
    flex: 0 0 auto;
    @include negative-gutters;
  }
}


@media (min-width: $screen-xl-min) {

  .hidden-xl {
    display: none;
  }

  .xl-row {
    @include base-row;
  }

  .xl-stack {
    @include base-stack;
  }

  .xl-block {
    display: block;
  }

  @for $i from 1 through 12 {
    .xl-#{$i} {
      @include gutters;
      flex: 0 0 calc(#{percentage($i / 12)} - 30px);
    }

    .xl-#{$i}--no-gutters {
      @include no-gutters;
      flex: 0 0 percentage($i / 12);
    }

    .xl-#{$i}--negative-gutters {
      @include negative-gutters;
      flex: 0 0 calc(#{percentage($i / 12)} + 30px);
    }
  }

  .xl-auto {
    flex: 0 0 auto;
    @include gutters;
  }

  .xl-auto--no-gutters {
    flex: 0 0 auto;
    @include no-gutters;
  }

  .xl-auto--negative-gutters {
    flex: 0 0 auto;
    @include negative-gutters;
  }
}
